.header {
  /* border-bottom: 1px solid var(--color-black); */
  padding: 4px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.header.dark {
  /* border-bottom: 1px solid var(--color-white); */
}

.section-box {
  padding: 4px;
  margin: 4px;
  /* border: 1px solid var(--color-black); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 780px) {
  .section-container {
    width: 90vw;
  }
}
@media (min-width: 780px) {
  .section-container {
    width: 50vw;
    min-width: 750px;
    max-width: 1200px;
  }
}

@media(max-width: 499px) {
  .info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media(min-width: 499px) {
  .info-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.txdata {
  width: calc(100% - 8px);
  padding: 8px;
  border-radius: 12px;
  background: var(--color-gray-1);
  color: var(--color-gray-9);
  word-break: break-all;
}

.txdata.dark {
  /* background: var(--color-gray-9);
  color: var(--color-gray-1); */
}

.highlight {
  color: var(--color-black);
}

.section-box.dark {
  /* border: 1px solid var(--color-white); */
}
